---
    import { Image } from 'astro:assets';

---

<header class="flex justify-between items-center py-5 w-full xl:w-[1120px] mx-auto">
    <img class="rounded-full w-12 h-12" src='../dist/code.png' alt="dachury avatar">

    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="#top">Inicio</a>
        <a href="#experiencia">Experiencia</a>
        <a href="#sobremi">Sobre mi</a>
        <a href="#proyectos">Proyectos HUB</a>
        <a href="#contactame">Contactame</a>
    </nav>
</header>